li{
    text-align: justify;
}
p{
    font-size: 18px;
}
ul{
    font-size: 16px;
}
.accordion .card {
	background: none;
	border: none;
}
.accordion .card .card-header {
	background: none;
	border: none;
	padding: .4rem 1rem;
	font-family: "Roboto", sans-serif;
}
.accordion .card-header h2 span {
	float: left;
	margin-top: 10px;
}
.accordion .card-header .btn {
	color: #2f2f31;
	font-size: 1.04rem;
	text-align: left;
	position: relative;
	font-weight: 500;
	padding-left: 2rem;
}
.accordion .card-header i {
	font-size: 1.2rem;
	font-weight: bold;
	position: absolute;
	left: 0;
	top: 9px;
}
.accordion .card-header .btn:hover {
	color:#bec200; 
}
.accordion .card-body {
	color: #324353;
	padding: 0.5rem 3rem;
}
.page-title {
	margin: 3rem 0 3rem 1rem;
	font-family: "Roboto", sans-serif;
	position: relative;
}
.page-title::after {
	content: "";
	width: 80px;
	position: absolute;
	height: 3px;
	border-radius: 1px;
	background:#2bf70d;
;
	left: 0;
	bottom: -15px;
}
.accordion .highlight .btn {
	color: #2bf70d;
}
.accordion .highlight i {
	transform: rotate(180deg);
}
.title{
    margin-bottom: 10px;
}
#overlay-nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	
	z-index: 9999;
	display: flex; /* Use flexbox */
	/* Align logo and links on the horizontal axis */
	align-items: center; /* Center align logo and links vertically */
	padding: 10px; /* Add padding as needed */
  }
  
  #overlay-nav .logo img {
	width: 100px;
	height: auto;
  }
  
  #overlay-nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex; /* Use flexbox */
	align-items: center; /* Center align the links vertically */
  }
  
  #overlay-nav ul li {
	margin: 0 10px; /* Adjust the margin between the links */
  }
  
  #overlay-nav ul li a {
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
  }
  
  /* Styling for the active link */
  #overlay-nav ul li a.active {
	color: #2bf70d;
  }
 
  
  #header-overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-57%);
	text-align: center;
	font-weight:bolder;
	background-color: rgba(0,0, 0, .5);
	width:800px;
	
}
  
#booknow{
	background-color:#2bf70d;	
	border-color: white;
	border-radius: 0px;
}
#start{
	font-size:79px;
	color: white;
}
span{
	color: #bec200;
}
